#banner{
    background-color: lightblue;
    width: 100%;
    height: 350px;
    background: url('gtasa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -400px;
}
#banner h1{
    text-align: center;
    color: aliceblue;
    font-size: 150px;
    padding-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px #444;
    margin: 0;
}